<a href="https://colab.research.google.com/github/kyjness/10th_Seminar/blob/main/%E1%84%91%E1%85%B5%E1%84%8E%E1%85%A5%E1%84%8B%E1%85%A6%E1%86%AB%E1%84%8C%E1%85%B5%E1%84%82%E1%85%B5%E1%84%8B%E1%85%A5%E1%84%85%E1%85%B5%E1%86%BC_%E1%84%86%E1%85%AE%E1%86%AB%E1%84%8C%E1%85%A6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

# 1. 데이터 로드 및 기본 정보 확인
# CSV 파일 불러오기
df = pd.read_csv('/content/drive/MyDrive/파이썬 머신러닝 완벽가이드/데이터/titanic/train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
# 피처 추출 (독립변수 확인해보기)
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
# 데이터프레임의 상위 5개 행을 출력하여 데이터의 기본 구조를 확인하시오.
# (빈칸: df.______())
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# 2. 피처 엔지니어링 1: 가족 수 변수 생성
# SibSp (형제자매 / 배우자 수) + Parch (부모 / 자녀 수) 값을 더하여 새로운 가족 수 변수를 만드시오.
# 변수 이름은 'Family_Size'로 지정하세요.
df['Family_Size'] = df['SibSp'] + df['Parch']
# Family_Size 변수의 분포를 확인하고, 전체적인 분포가 어떤지 설명하시오.
df['Family_Size'].value_counts()

Family_Size
0     537
1     161
2     102
3      29
5      22
4      15
6      12
10      7
7       6
Name: count, dtype: int64

In [6]:
# 3. 피처 엔지니어링 2: 이름에서 호칭 추출
# 이름(`Name`)에서 Mr, Mrs, Miss 등 호칭을 추출하여 새로운 'Title' 변수를 생성하세요.
# 힌트: 이름 문자열에서 콤마(,)와 점(.) 사이의 텍스트를 추출하면 됨.
# (빈칸: df['Title'] = df['Name'].str.extract('_____', expand=False))
df['Title'] = df['Name'].str.extract(r',\s*([^\.]+)\.', expand=False)
# 생성된 Title 변수의 상위 5개 값을 출력하고, 다양한 호칭이 어떻게 구성되어 있는지 확인하세요.
print(df['Title'].head(5))
print(df['Title'].value_counts())

0      Mr
1     Mrs
2    Miss
3     Mrs
4      Mr
Name: Title, dtype: object
Title
Mr              517
Miss            182
Mrs             125
Master           40
Dr                7
Rev               6
Mlle              2
Major             2
Col               2
the Countess      1
Capt              1
Ms                1
Sir               1
Lady              1
Mme               1
Don               1
Jonkheer          1
Name: count, dtype: int64

In [7]:
# 4. 피처 엔지니어링 3: 나이 그룹화
# Age 변수의 결측값을 중간값으로 채우고, 나이 범주를 나눠서 'Age_Group' 변수를 생성하세요.
# 예: 0-12 (Child), 13-18 (Teenager), 19-35 (Young_Adult), 36-60 (Adult), 60 이상 (Senior)
# (빈칸: df['Age'] = df['Age'].fillna(df['______.median()']))
df['Age'] = df["Age"].fillna(df['Age'].median())
# 나이를 그룹화하는 함수 작성
def age_group(age):  # age_group 함수를 정의합니다.
    if age <= 12:
        return 'Child'
    elif age <= 18:
        return 'Teenager'
    elif age <= 35:
        return 'Young_Adult'
    elif age <= 60:
        return 'Adult'
    else:
        return 'Senior'

# age_group 함수를 사용하여 새로운 'Age_Group' 변수 생성
# (빈칸: df['Age_Group'] = df['Age'].apply(____))
df['Age_Group'] = df['Age'].apply(age_group)
# 생성된 Age_Group 변수의 분포를 확인하세요.
# (빈칸: print(df['______'].value_counts()))
print(df['Age_Group'].value_counts())

Age_Group
Young_Adult    535
Adult          195
Teenager        70
Child           69
Senior          22
Name: count, dtype: int64

In [8]:
# 5. 피처 엔지니어링 4: 요금 범주화
# Fare 변수를 기준으로 값이 높은 승객과 낮은 승객을 구분하기 위해 4개의 구간으로 나누어 'Fare_Bin' 변수를 생성하세요.
# 힌트: pd.qcut() 함수를 사용하여 구간 나누기
# (빈칸: df['Fare_Bin'] = pd.qcut(df['____'], _____))
df['Fare_Bin'] = pd.qcut(df['Fare'], 4)
# Fare_Bin 변수의 빈도를 출력하고, 값의 분포를 확인하세요.
# (빈칸: print(df['______'].value_counts()))
df['Fare_Bin'].value_counts()

Fare_Bin
(7.91, 14.454]     224
(-0.001, 7.91]     223
(14.454, 31.0]     222
(31.0, 512.329]    222
Name: count, dtype: int64

In [9]:
# 6. 피처 엔지니어링 5: 객실 여부
# Cabin 변수가 결측인 경우와 아닌 경우를 구분하여 'Cabin_Known' 변수를 생성하세요.
# Cabin 값이 존재하면 1, 결측이면 0으로 설정하세요.
# (빈칸: df['Cabin_Known'] = df['Cabin'].notna().astype(____))
df['Cabin_Known'] = df['Cabin'].notna().astype(int)

# 생성된 Cabin_Known 변수의 빈도를 출력하고, 객실 여부와 생존율 간의 관계를 분석하세요.
# (빈칸: print(df['______'].value_counts()))
print(df['Cabin_Known'].value_counts())
print(df.groupby('Cabin_Known')['Survived'].mean())

Cabin_Known
0    687
1    204
Name: count, dtype: int64
Cabin_Known
0    0.299854
1    0.666667
Name: Survived, dtype: float64

In [10]:
# 7. 피처 엔지니어링 6: 승선 지역
# 'Embarked' 변수를 더미 변수로 변환하여 승선 지역(S, C, Q)을 기준으로 각각의 더미 변수를 생성하세요.
# (빈칸: df = pd.get_dummies(df, columns=['____'], drop_first=True))
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)
# 변환된 데이터프레임의 상위 5개 행을 출력하여 더미 변수 생성 결과를 확인하세요.
# (빈칸: df.______())
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Family_Size,Title,Age_Group,Fare_Bin,Cabin_Known,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,Mr,Young_Adult,"(-0.001, 7.91]",0,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,1,Mrs,Adult,"(31.0, 512.329]",1,False,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,Miss,Young_Adult,"(7.91, 14.454]",0,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,Mrs,Young_Adult,"(31.0, 512.329]",1,False,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,0,Mr,Young_Adult,"(7.91, 14.454]",0,False,True

In [11]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Family_Size,Title,Age_Group,Fare_Bin,Cabin_Known,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,1,Mr,Young_Adult,"(-0.001, 7.91]",0,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,1,Mrs,Adult,"(31.0, 512.329]",1,False,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,Miss,Young_Adult,"(7.91, 14.454]",0,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1,Mrs,Young_Adult,"(31.0, 512.329]",1,False,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,0,Mr,Young_Adult,"(7.91, 14.454]",0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,0,Rev,Young_Adult,"(7.91, 14.454]",0,False,True
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,0,Miss,Young_Adult,"(14.454, 31.0]",1,False,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,NaN,3,Miss,Young_Adult,"(14.454, 31.0]",0,False,True
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,0,Mr,Young_Adult,"(14.454, 31.0]",1,False,False
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,0,Mr,Young_Adult,"(-0.001, 7.91]",0,True,False

## 문제

### 1. 피처엔지니어링을 통해 기대할 수 있는 효과는 무엇인지 설명하시오.

1)모델 성능 향상:

원래 데이터에 없던 중요한 패턴이나 관계를 추출하여 추가적인 피처로 변형하면, 모델이 더 많은 정보를 학습할 수 있어 예측 성능이 향상될 수 있습니다. 예를 들어, "이름"에서 "Title"을 추출하면, 성별, 직업, 사회적 지위와 같은 중요한 정보를 유추할 수 있어 예측에 도움이 됩니다.

2)모델의 해석 가능성 증가:

잘 설계된 피처는 모델의 해석력을 높입니다. 예를 들어, "Title" 변수를 통해 해당 데이터에 포함된 사람들이 어떤 사회적 지위에 있는지 명확하게 이해할 수 있습니다. 이는 데이터의 의미를 더 잘 파악하게 도와주며, 모델이 어떻게 결론을 내리는지 설명하는 데도 유리합니다.

3)차원의 저주 문제 완화:

적절한 피처 엔지니어링을 통해 불필요한 변수들을 제거하고, 의미 있는 정보로 압축할 수 있습니다. 이는 모델의 복잡성을 줄여 학습 속도를 높이고 과적합을 방지하는 데 도움이 됩니다.

4)도메인 지식 반영:

피처 엔지니어링 과정에서 도메인 지식을 활용하면, 데이터를 더 잘 이해하고 적절한 변환을 적용할 수 있습니다. 예를 들어, 금융 데이터에서 금리 변동이나 환율 변동과 같은 특성을 추출하면 더 정교한 예측을 할 수 있습니다.

5)데이터 분포 정규화:

데이터를 모델이 처리하기 쉽게 변환하는 것도 피처 엔지니어링의 중요한 부분입니다. 로그 변환이나 스케일링과 같은 기법을 통해 데이터 분포를 정규화하면, 모델의 성능을 개선할 수 있습니다.

### 2. 새로 생성한 변수에 대해 간단히 설명하고 모델의 성능이 향상된다면 그 이유가 무엇일지 설명하시오.

<새로 생성한 변수>

1.Family_Size:

SibSp(형제자매/배우자 수)와 Parch(부모/자녀 수)를 합한 변수입니다. 이 변수는 승객이 얼마나 많은 가족과 함께 탑승했는지를 나타냅니다. 가족 수가 많을수록 생존 가능성에 영향을 미칠 수 있으며, 이 변수는 모델에 중요한 피처로 작용할 수 있습니다.

2.Title:

이름에서 Mr., Mrs., Miss. 등과 같은 호칭을 추출한 변수입니다. 호칭은 승객의 성별, 결혼 여부, 사회적 지위를 반영할 수 있어 생존율 예측에 도움이 될 수 있습니다. 예를 들어, "Mr"는 남성 승객임을 나타내며, "Mrs"는 결혼한 여성임을 나타낼 수 있습니다.

3.Age_Group:

Age 변수를 기준으로 나이를 그룹화한 변수입니다. Child, Teenager, Young_Adult, Adult, Senior로 나누어 승객의 나이에 따른 생존율을 예측할 수 있습니다. 어린이와 노약자가 더 높은 생존율을 가질 가능성이 있습니다.

4.Fare_Bin:

Fare 변수를 4개의 구간으로 나누어 승객의 지불 요금을 범주화한 변수입니다. 요금이 높은 승객일수록 상류층일 가능성이 높고, 더 안전한 객실에 배치되었을 가능성이 있어 생존율에 영향을 미칠 수 있습니다.

5.Cabin_Known:

Cabin 변수가 결측인지 여부를 나타내는 변수입니다. 객실 정보가 있는 승객은 상위 클래스에 있었을 가능성이 있고, 이는 생존율과 관련이 있을 수 있습니다.

6.Embarked 더미 변수:

승선 지역을 나타내는 Embarked 변수를 더미 변수로 변환한 것입니다. 승선 지역에 따라 생존율에 차이가 있을 수 있습니다. 예를 들어, 특정 지역에서 탑승한 승객들이 더 안전한 구역에 배치되었을 가능성이 있습니다.

<모델 성능 향상 이유>

1.유의미한 정보 추가:

새로 생성된 변수들은 모델이 학습할 수 있는 추가적인 정보를 제공합니다. 예를 들어, Family_Size는 탑승한 가족의 수가 생존에 영향을 미칠 수 있고, Title 변수는 승객의 성별 및 사회적 지위와 관련이 있어 생존율 예측에 도움이 됩니다. 이러한 변수를 통해 모델이 더 많은 특징을 학습할 수 있게 되어 예측 성능이 향상될 수 있습니다.

2.데이터의 해석력 증가:

나이, 요금, 가족 수와 같은 변수들을 그룹화하거나 범주화함으로써 모델이 데이터에서 패턴을 더 잘 파악할 수 있게 됩니다. 예를 들어, Age_Group과 같은 변수를 통해 나이에 따른 생존율 차이를 쉽게 파악할 수 있습니다.

3.범주형 변수의 처리:

범주형 변수를 더미 변수로 변환하면, 모델이 이를 수치적으로 처리할 수 있게 되어 성능이 향상됩니다. Embarked 변수는 승선 지역에 따른 생존율 차이를 반영할 수 있습니다.

4.결측치 처리:

Cabin_Known과 같이 결측 여부를 새로운 변수로 처리하면, 결측값이 가지는 의미를 추가적으로 모델에 반영할 수 있습니다. 이는 모델이 결측값에 따른 패턴을 더 잘 이해하도록 도울 수 있습니다.

5.과적합 방지:

데이터를 그룹화하거나 범주화하면 모델의 복잡성을 줄이고, 중요한 패턴을 더 잘 학습하게 할 수 있습니다. 이로 인해 과적합을 방지하고 일반화 성능을 높일 수 있습니다.